<!-- FILEPATH:/templates/index.html -->

<!-- 
    This is the index.html template file for the CS50 final project. It extends the "layout.html" 
    template and displays a list of recently added reviews. Each review is displayed as a card with 
    the title, author, rating, and options to delete, view, or update the review. 
-->

{% extends "layout.html" %} {% block title %} Home {% endblock %} {% block main
%}

<!-- https://getbootstrap.com/docs/4.0/components/card/#header-and-footer -->
<div class="card border-dark mb-2">
  <div class="card-header">Recently Added</div>

  {% for n in range(length) %}
  <div class="card-body" style="border-bottom: 1px solid #6d6d6d">
    <h5 class="card-title">{{ reviews[n]["title"] }}</h5>
    <p class="card-text">
      By {{ reviews[n]["author"] }}<br />
      Rating: {{ (star * (reviews[n]["rating"] | int)) | safe }}
    </p>
    <div class="d-flex justify-content-center gap-2">
      <form action="/delete-review" method="GET" class="mb-3">
        <input
          type="hidden"
          name="q"
          class="d-none"
          value="{{ reviews[n]['title'] }}"
        />
        <input
          type="hidden"
          name="author"
          class="d-none"
          value="{{ reviews[n]['author'] }}"
        />
        <button
          class="btn btn-danger"
          type="submit"
          style="margin-top: 0"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Delete Review"
        >
          Delete Review
        </button>
      </form>
      <form action="/view-review" method="GET">
        <input
          type="hidden"
          name="id"
          class="d-none"
          value="{{ reviews[n]['review_id'] }}"
        />
        <button class="btn btn-light" type="submit" style="margin-top: 0">
          View Review
        </button>
      </form>
      <form action="/update-review" method="GET" class="ml-2">
        <input
          type="hidden"
          name="q"
          class="d-none"
          value="{{ reviews[n]['title'] }}"
        />
        <button class="btn btn-light" type="submit" style="margin-top: 0">
          Update Review
        </button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
