<!-- FILEPATH:/templates/layout.html -->
<!-- 
    This is the layout template for the web application. It includes the HTML structure for the header, navigation bar, main content, and footer.
    The template uses Bootstrap for styling and includes a script for autosizing textareas.
    It also includes conditional logic to display different navigation options based on whether the user is logged in or not.
    The template is used to create consistent layout across different pages of the application.
-->
<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- https://getbootstrap.com/docs/5.3/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="/static/styles.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"></script>


        <title>Books {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="bg-light border navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Books</a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    {% if session["user_id"] %}
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/">....</a></li>
                            <li class="nav-item"><a class="nav-link" href="/">....</a></li>
                            <li class="nav-item"><a class="nav-link" href="/">....</a></li>
                            <li class="nav-item"><a class="nav-link" href="">....</a></li>
                            <li class="nav-item"><a class="nav-link" href="/add-new">Add Review</a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item">
                                <form class="form-inline" action="/search" method="GET">
                                    <div class="input-group mr-3">
                                        <input class="form-control mr-2" autocomplete="off" type="text" name="q" value="" placeholder="Search for Title or Author" style="width: 300px; margin-right: 10px;">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" type="submit">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <header>
                    <div class="alert alert-primary mb-0 text-center" role="alert">
                        {% for message in messages %}
                            {{ message }}
                            <br>
                        {% endfor %}
                    </div>
                </header>
            {% endif %}
        {% endwith %}

            
        <main class="container py-5 text-center">
            {% block main %}{% endblock %}
        </main>

        <footer class="mt-auto" style="background-color: white; position: sticky; bottom: 0; width: 100%;">
            <p style="text-align: center">&copy Jonah Werhan 2024</p>
        </footer>
    </body>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            // Adapted from https://stackoverflow.com/a/10162353
            const html =
                '<!DOCTYPE ' +
                document.doctype.name +
                (document.doctype.publicId ? ' PUBLIC "' + document.doctype.publicId + '"' : '') +
                (!document.doctype.publicId && document.doctype.systemId ? ' SYSTEM' : '') +
                (document.doctype.systemId ? ' "' + document.doctype.systemId + '"' : '') +
                '>\n' + document.documentElement.outerHTML;
        });

    </script>

    <!-- http://getbootstrap.com/docs/5.3/ -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
