{% extends "layout.html" %}

{% block title %}
    Review - {{title}}
{% endblock %}

{% block main %}

<div class="card">
  <div class="card-header">
    <b>"{{ review[0]['title'] }}"</b> by {{ review[0]['author'] }}<br>
    {{ (star * review[0]['rating'] | int) | safe }}<br>
    Posted on {{ review[0]['date'] }} at {{ review[0]['time'] }}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <div class="review-container">
        <textarea style="max-height: 50vh" id="review-text-area" readonly 
        class="form-control small border-0 mb-1">{{ review[0]['review'] }}</textarea>
        <footer class="blockquote-footer mt-2">
          <cite title="Source Title">Review by {{ review[0]['username'] }}</cite>
        </footer>
      </div>
    </blockquote>
  </div>
  {% if review[0]["user_id"] == session["user_id"] %}
  <div class="d-flex justify-content-center gap-2">
    <form action="/delete-review" method="POST" class="mb-3">
      <input type="hidden" name="q" class="d-none" value="{{ review[0]['title'] }}">
      <input type="hidden" name="review_user_id" class="d-none" value="{{ review[0]['user'] }}">
      <button class="btn btn-danger" type="submit" style="margin-top: 0;" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Review">Delete Review</button>
    </form>
    <form action="/update-review" method="GET">
      <input type="hidden" name="q" class="d-none" value="{{ review[0]['title'] }}">
      <input type="hidden" name="review_user_id" class="d-none" value="{{ review[0]['username'] }}">
      <button class="btn btn-light" type="submit" style="margin-top: 0;" data-bs-toggle="tooltip" data-bs-placement="top" title="Update Review">Update Review</button>
    </form>
  </div>
{% endif %}
</div>

<script>
  var reviewTextArea = document.getElementById("review-text-area");
  var maxHeight = "50vh";
  if (reviewTextArea.scrollHeight > reviewTextArea.offsetHeight) {
    reviewTextArea.style.height = Math.min(reviewTextArea.scrollHeight, parseInt(maxHeight)) + "px";
  } else {
    reviewTextArea.style.height = maxHeight;
  }
  autosize(reviewTextArea);
  
  // Enable Bootstrap tooltips
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>


{% endblock %}